* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: monospace, sans-serif;
}

.App{
  background-image: linear-gradient(to right, #050505, #3b3b3a);
}

header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1px;
}

nav{
  display: flex;
}

.articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 60vw;
  padding: 4px;
  border: 2px solid rgb(182, 179, 179);
  border-radius: 5px;
}

article{
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 5px;
  margin: 2px;
  border: 0.5px solid orangered;
  border-radius: 6px;
}

article h3{
  text-align:justify;
  font-size: 1.3rem;
  padding: 1px 10px;
  margin-bottom: 5px;
}

article h4{
  color: rgba(220, 220, 220, 0.726);
  margin-left: 10px;
  margin-bottom: 5px;
}

article img{
  margin: 0 auto;
  width: 25vw;
}

article video{
  margin: 0 auto;
  width: 25vw;
}

article .buttons{
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

article .buttons button{
  font-size: 1rem;
  margin-right: 4px;
  background-image: linear-gradient(to right, orangered, #3b3b3a);
  border: none;
  border-radius: 5px;
}


.comment {
  border: 1px solid  blue;
}