* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Roboto Slab', serif;
}

.App{
  background-image: linear-gradient(to right, #050505, #3b3b3a);
}

header{
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, #050505, #3b3b3a);
}

header input{
  display: inline-block;
  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

header::before{
  content: '/r/';
  display: inline-block;
  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 60vw;
  padding: 4px;
  border: 2px solid rgb(182, 179, 179);
  border-radius: 5px;
  background-image: linear-gradient(to right, #050505, #3b3b3a);
}

article{
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 5px;
  margin: 2px;
  border: 0.5px solid orangered;
  border-radius: 6px;
}

article h3{
  text-align:justify;
  font-size: 1.3rem;
  padding: 1px 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

article h4{
  color: rgba(220, 220, 220, 0.726);
  margin-left: 10px;
  margin-bottom: 5px;
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

article img{
  margin: 0 auto;
  width: 25vw;
}

article video{
  margin: 0 auto;
  width: 25vw;
}

article .buttons{
  display: flex;
  justify-content: end;
  margin: 5px;
}

article .buttons button{
  font-size: 1.1rem;
  text-align: center;
  margin-right: 4px;
  padding: 2px;
  background-image: linear-gradient(to right, rgba(255, 68, 0, 0.932), #3b3b3a);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.buttons button:hover{
  background-image: linear-gradient(to right, rgba(255, 68, 0, 0.932), #fa6400);
}


.comment {
  padding: 1px;
  background-color: #050505;
  border-radius: 5px;
  text-align: justify;
}

.comment:nth-child(2n){
  background-color: rgba(94, 93, 93, 0.63);
}

.comment .author{
  color: rgba(220, 220, 220, 0.726);
  font-style: italic;
  margin-bottom: 2px;
  font-family: 'Satisfy', cursive;
}

#no-articles{
  height: 100vw;
}